<p id="notice"><%= notice %></p>

<h1>Bks</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Author</th>
      <th>Title</th>
      <th>Publication</th>
      <th>Copies</th>
      <th>Available</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bks.each do |bk| %>
      <tr>
        <td><%= bk.isbn %></td>
        <td><%= bk.author %></td>
        <td><%= bk.title %></td>
        <td><%= bk.publication %></td>
        <td><%= bk.copies %></td>
        <td><%= bk.available %></td>
        <td><%= bk.subject %></td>
        <td><%= link_to 'Show', bk %></td>
        <td><%= link_to 'Edit', edit_bk_path(bk) %></td>
        <td><%= link_to 'Destroy', bk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>