<%= form_for(issu) do |f| %>
  <% if issu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issu.errors.count, "error") %> prohibited this issu from being saved:</h2>

      <ul>
      <% issu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sid %>
    <%= f.text_field :sid %>
  </div>

  <div class="field">
    <%= f.label :allbk_id %>
    <%= f.number_field :allbk_id %>
  </div>

  <div class="field">
    <%= f.label :issue_date %>
    <%= f.date_select :issue_date %>
  </div>

  <div class="field">
    <%= f.label :return_date %>
    <%= f.date_select :return_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
