<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @issu.sid %>
</p>

<p>
  <strong>Allbk:</strong>
  <%= @issu.allbk_id %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @issu.issue_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @issu.return_date %>
</p>

<%= link_to 'Edit', edit_issu_path(@issu) %> |
<%= link_to 'Back', issus_path %>
